<div id="lateral" class=" z-depth-3">
    <div class="perfil col s12 m12">
        <div class="foto-container">
            <img src="../../../assets/images/general/8.jpg">
        </div>
        <div class="opciones valign-wrapper">
            <a class="col s6  waves-effect waves-light light-blue darken-3">
                <i class="material-icons center">settings</i>
            </a>
            <a class="col s6 waves-effect waves-light light-blue darken-3">
                <i class="material-icons center">power_settings_new</i>
            </a>
        </div>

        <ul class="collection with-header">
            <li class="collection-header">
                <p>USUARIOS</p>
            </li>
            <li class="collection-item">
                <div class="valign-wrapper">
                    <span>Listado</span>
                    <i class="material-icons">person_pin</i>

                </div>
            </li>
            <li class="collection-header">
                <p>REPOSITORIO</p>
            </li>
            <li class="collection-item">
                <div class="valign-wrapper">
                    <span>Registro</span>
                    <i class="material-icons">trending_up</i>

                </div>
            </li>
            <li class="collection-item">
                <div class="valign-wrapper">
                    <span>Listado</span>
                    <i class="material-icons">shopping_cart</i>

                </div>
            </li>
            <li class="collection-item">
                <div class="valign-wrapper">
                    <span>Reportes</span>
                    <i class="material-icons">assignment</i>

                </div>
            </li>
            <li class="collection-header">
                <p>DOCUMENTOS</p>
            </li>
            <li class="collection-item">
                <div class="valign-wrapper">
                    <span>Registro</span>
                    <i class="material-icons">mode_edit</i>

                </div>
            </li>
            <li class="collection-item">
                <div class="valign-wrapper">
                    <span>Listado</span>
                    <i class="material-icons">assessment</i>

                </div>
            </li>
            <li class="collection-item">
                <div class="valign-wrapper">
                    <span>Configuracion</span>
                    <i class="material-icons">loyalty</i>
                </div>
            </li>

            <li class="collection-item">
                <div class="valign-wrapper">
                    <span>Reportes</span>
                    <i class="material-icons">library_books</i>
                </div>
            </li>
        </ul>
    </div>
</div>
