<div class="contenedor-sidebar z-depth-3">
    <ul class="options">
        <li class="title-group">
            <p>USUARIOS</p>
        </li>
        <li class="option-item">
            <a class="item" href="#">
                <i class="material-icons">person_pin</i>
                <p>Listado</p>
            </a>
        </li>
        <li class="title-group">
            <p>REPOSITORIO</p>
        </li>
        <li class="option-item">
            <a class="item" href="#">
                <i class="material-icons">trending_up</i>
                <span>Registro</span>
            </a>
        </li>
        <li class="option-item">
            <a class="item" href="#">
                <i class="material-icons">shopping_cart</i>
                <span>Listado</span>
            </a>
        </li>
        <li class="option-item">
            <a class="item" href="#">
                <i class="material-icons">assignment</i>
                <span>Reportes</span>
            </a>
        </li>
        <li class="title-group">
            <p>DOCUMENTOS</p>
        </li>
        <li class="option-item">
            <a class="item" href="#">
                <i class="material-icons">mode_edit</i>
                <span>Registro</span>
            </a>
        </li>
        <li class="option-item">
            <a class="item" href="#">
                <i class="material-icons">assessment</i>
                <span>Listado</span>
            </a>
        </li>
        <li class="option-item">
            <a class="item" href="#">
                <i class="material-icons">loyalty</i>
                <span>Configuracion</span>
            </a>
        </li>

        <li class="option-item">
            <a class="item" href="#">
                <i class="material-icons">library_books</i>
                <span>Reportes</span>
            </a>
        </li>
    </ul>
</div>
