<!-- style="background-image:url(../assets/images/background/login-register.jpg);"-->
<div class="contenedor">
    <div class="login-form">
        <p-card>
            <form [fromGroup]="vLoginForm">
                <div class="ui-g-12 ui-md-4 ui-sm-6">
                    <div class="ui-inputgroup">
                        <span class="ui-float-label">
                            <input id="nombreDisp" type="text" size="30" pInputText formControlName="nombreDisp">
                            <label for="nombreDisp">Nombre dispositivo *</label>
                        </span>
                    </div>
                </div>
            </form>
        </p-card>
    </div>
</div>
