.contenedor{
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: block;
    background-color: #f7f7f7;
}
.login-form{
    width: 340px;
    height: 380px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    display: inline-block;
    margin-top: 25vh;
}

